<h1>Editing <%= @user.username %></h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/users", method: "patch" do %>

      <p>Password: <input value="<%= @user.password %>" name="password" type="password" autofocus class="form-control"></p>
      <p>First_name: <input value="<%= @user.first_name %>"  name="first_name" type="text" class="form-control"></p>
      <p>Last_name: <input value="<%= @user.last_name %>" name="last_name" type="text" class="form-control"></p>
      <p>Email: <input value="<%= @user.email %>"  name="email" type="text" class="form-control"></p>

      <button class="btn btn-primary">Update Profile</button>

    <% end %>

  </div>
</div>
