<div class="container">

  <div class="page-header">
    <h1>
    Profile
    </h1>
  </div>

  <br>

  <div class="row">
    <div class="form-group col-md-0"></div>
    <div class="form-group col-md-5">

    <p style="font-size:20px;">First name: <%= @user.first_name %></p>
    <p style="font-size:20px;">Last  name: <%= @user.last_name %></p>
    <p style="font-size:20px;">Username  : <%= @user.username %></p>
    <p style="font-size:20px;">Email     :  <%= @user.email %></p>
    <hr>
    <%= link_to "Update", "/users/edit", class: "btn btn-lg btn-success" %>
  </div>
</div>
