<div class="container">
  <div class="row">

    <% @libraries.each do |library| %>

      <div class="col-sm-4">
          <a href="/libraries/<%= library.id %>">
            <%= image_tag library.photo_url, :class => "img-fluid" %>
          </a>

          <div class="caption text-center">
            <h3>
              <a href="/libraries/<%= library.id %>">
                <%= library.name %>
              </a>
            </h3>
            <p>
              <%= library.description %>
            </p>
          <% if !(session["user_id"].blank?) and (User.find_by(id: session["user_id"]).is_admin == true) %>
            <p>
              <%= link_to "[Delete]", "/libraries/#{library.id}", method: "delete" %>
              <%= link_to "[Edit]", "/libraries/#{library.id}/edit" %>
            </p>
          <% end %>
          </div>
      </div>
    <% end %>

  </div>
</div>
