<div class="container">
  <div class="row">

    <% @libraries.each do |library| %>

      <div class="col-sm-4">
          <a href="/libraries/<%= library.id %>">
            <%= image_tag library.photo_url, :class => "img-fluid" %>
          </a>

          <div class="caption text-center">
            <h3>
              <a href="/library/<%= library.id %>">
                <%= library.name %>
              </a>
            </h3>
            <p>
              <%= library.description %>
            </p>

            <p>
              <%= link_to "[Delete]", "/libraries/#{library.id}", method: "delete" %>
              <%= link_to "[Edit]", "/libraries/#{library.id}/edit" %>
            </p>
          </div>
      </div>
    <% end %>

    <div class="caption text-center">
      <%= link_to "Add A New Library", "/libraries/new" %>
    </div>

  </div>
</div>
