<!DOCTYPE html>
<html>
  <head>
    <title>Uchicago Library Reservation System - Final Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Uchicago Reservation System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


          <!-- <form class="form-inline my-2 my-lg-0 mx-auto">
            <input class="form-control mr-sm-2" size="30" type="search" placeholder="Search by title, director, actor..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
          <ul class="nav navbar-nav">

            <% if !(session["user_id"].blank?) and (User.find_by(id: session["user_id"]).is_admin == true) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adminstrator <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/libraries/new">Add Library</a></li>
                    <li><a href="/reservations/show_all">All reservations</a></li>
                  </ul>
                </li>
            <% elsif !(session["user_id"].blank?)%>
              <li><%= link_to "Reservations", "/reservations" %></li>
            <% end %>

          </ul>

          <ul class="navbar-nav ml-auto">
            <% if session[:user_id] != nil %>
              <li class="nav-item"><a class="nav-link" href="/users"><%= User.find_by(id: session[:user_id]).username %>'s Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% else %>
            <li class="nav-item"><a class="nav-link" href="/users/new">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="/sessions/new">Log In</a></li>
            <% end %>
          </li>
        </ul>
        </div>
    </nav>

    <div class="container-fluid">

      <%= yield %>

    </div>
  </body>
</html>
